body {
	background-color: #e6ffff;
	font-size: 15px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1em;/* space between 2 lines of text*/
	font-weight: normal;
	color: #0000cc;
}

h1{
	font-size: 40px;
	font-family: "Courier New", Courier, monospace;
}

h2{
	font-size: 30px;
	font-family: "Courier New", Courier, monospace;
}
	
.container{
	border: 2px;
	border-style: dashed;
	border-color:#ff0000;
	padding:5px;
	width:600;
	height:300;
	
}	
	
